<%= render partial: 'apps/app_header' %>
<%= render partial: 'apps/app_subnav' %>

<div class="app-lists">
  <% if @app.events.any? %>
      <table class="table">
        <thead>
        <tr>
          <th>EVENT</th>
          <th class="">OCCURRED</th>
          <th class="app-lists-column-collapse">USER</th>
        </tr>
        </thead>
        <tbody>
        <% @app.events.each do |event| %>
            <tr>
              <td><%= link_to event.name, app_event_path(event.app, event) %></td>
              <td><%= if_recent_span(event.created_at) %></td>
              <td class="app-lists-column-collapse"><%= event.user ? event.user.name : "Anonymous" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
    <h2>0 Events found</h2>
  <% end %>
</div>
