<%= render partial: 'apps/app_header' %>
<%= render partial: 'apps/app_subnav' %>

<div class="app-lists">
    <table class="table">
      <thead>
      <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>LAST SEEN</th>
        <th class="app-lists-column-collapse">FIRST SEEN</th>
        <th class="app-lists-column-collapse">SESSIONS</th>
      </tr>
      </thead>
      <tbody>
        <% @app.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= if_recent_span(user.last_seen_at) %></td>
            <td class="app-lists-column-collapse"><%= if_recent_span(user.created_at) %></td>
            <td class="app-lists-column-collapse"><%= user.web_sessions %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>